* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #214252;
    
}

h1 {color: azure;
    padding: 15px;
    text-align: center;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
}

.box h2 {
    color: azure;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 15px;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"],
.box textarea,
.box select {
    border: 2px solid #214252;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 15px 10px;
    width: 350px;
    color: #bbb;
    border-radius: 24px;
    outline: none;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus,
.box textarea:focus,
.box select:focus{
    width: 400px;
    border-color: #4e788d;
    transition: 0.5s;
}

.box button {
    border-radius: 10px;
    padding: 10px 40px;
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #bbb;
    border: 2px solid #214252;
    width: 350px;
    outline: none;
    cursor: pointer;


}

.box button:hover {
    background-color: #214252;
}


